.exportContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1e272e; /* Un fondo oscuro más elegante */
  padding: 30px;
}

.exportForm {
  background-color: #fff;
  padding: 50px; /* Más espacio interior */
  border-radius: 16px; /* Bordes más redondeados */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada y suave */
  width: 90%;
  max-width: 600px; /* Un ancho máximo un poco mayor */
}

.exportTitle {
  font-size: 2.8em; /* Título ligeramente más grande */
  color: #333;
  margin-bottom: 40px; /* Más espacio debajo del título */
  text-align: center;
  font-weight: 500; /* Un peso de fuente más ligero para elegancia */
}

.uploadArea {
  border: 2px dashed #a6cfff; /* Un azul más suave para el borde */
  border-radius: 12px; /* Bordes más redondeados */
  padding: 50px; /* Más espacio interior */
  text-align: center;
  margin-bottom: 30px;
  color: #555; /* Texto un poco más oscuro */
  background-color: #f0f8ff; /* Un azul muy claro de fondo */
}

.uploadArea p {
  font-size: 1.1em; /* Tamaño de fuente un poco mayor */
  margin-bottom: 20px;
}

.selectFileButton {
  background-color: #fff;
  color: #2979ff; /* Un azul más vivo */
  border: 1px solid #2979ff;
  padding: 12px 24px;
  border-radius: 10px; /* Bordes más redondeados */
  cursor: pointer;
  font-weight: 600; /* Un peso de fuente un poco más fuerte */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  font-size: 1em;
}

.selectFileButton:hover {
  background-color: #2979ff;
  color: #fff;
  border-color: #1e60c2; /* Un tono más oscuro al hacer hover */
}
