h1 {
    color: #031026;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  
  h2 {
    color: #468189;
    font-size: 2rem;
    margin-bottom: 0.8rem;
    font-weight: 600;
  }
  
  h3 {
    color: #77ACA2;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  .coment-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #F4E9CD; /* Fondo general */
    font-family: 'Segoe UI', sans-serif;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(3, 16, 38, 0.1);
    
    /* Mantiene Centrado el contenido */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}